.vscode/**
.vscode-test/**
.env
.env.local
out/**
node_modules/**
proxy/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
scripts/**
media/icon.svg
Decoded_PRD.md
Decoded_Implementation_Plan.md
